<h1>TOYBOX 来店掲示板</h1>

<h3>重要事項：来店告知以外の書き込みは雑談掲示板にお願い致します。皆様のご協力をお願い致します🙏</h3>

<div class="container">
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "投稿", '#' %></li>
        <li><%= link_to "検索", '#' %></li>
        <li><%= link_to "Admin", '#'%></li>
      </ul>
    </nav>
</div>
