<section class="hero is-info hero_layout">
  <div class="hero-body">
    <p class="title">
      What's TOYBOX?
    </p>
    <p class="subtitle">
      基本情報
    </p>
  </div>
</section>

<div class="content exp_layout">
  <div>
    <h3>MAP</h3>
    <p>
      愛知県名古屋市中村区名駅南３丁目　水主町(かこまち)交差点　中華料理店の２Fになります。<br />
      付近にコインパーキングが複数ございます。<br />
      最寄り駅：名古屋駅、大須観音駅、ささしまライブ駅、山王駅
    </p>
    <div class="gmap">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d52189.95397628962!2d136.8188838216797!3d35.15980980000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x600377250476d793%3A0x8c1985b004414226!2sTOY%20BOX!5e0!3m2!1sja!2sjp!4v1697932581083!5m2!1sja!2sjp" width="400" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
  </div>

  <h3>どんな方が来るの？</h3>
  <p>
    主に女装さん、男の娘、NH、レイヤー、その他にも女装さんを好む方が来店されます。<br />
    仲良くなるとそれ以上の関係になれるかも！？<br />
    <b>おすすめ時間帯：週末の夕方以降</b>
  </p>

  <h3>営業時間</h3>
  <p>
    AM１１時〜翌AM１０時（年中無休）２４時間営業<br />
    お酒以外持ち込みOK、営業時間内であればお店の出入り自由！<br />
    店内にて、お酒：５００円、ソフトドリンク：１００円で販売しております。
  </p>

  <h3>入店料金</h3>
  <p>
    男性：２５００円<br />
    女性・女装：２０００円<br />
    ご利用時間：入店後〜閉店まで<br />
    ※一度入店料を払えば閉店時間まで出入り自由となっております。(外出する際はお店の方にお声がけください)
  </p>

  <h3>入店料金内で受けられるサービス</h3>
  <p>
    シャワー(タオル付、タオルの持ち帰り厳禁。シャンプー・せっけん等ない場合がございます。ご自身で用意されることをおすすめします。)<br />
    カラオケ<br />
    麻雀<br />
    仮眠<br />
    ロッカー(入店〜閉店まで)
  </p>

  <h3>以下は入店料金以外に別料金がかかります</h3>
  <p>
    レンタルロッカー(月額１０００円・サービスで洗濯機利用可能) ※ロッカー荷物回収時にも入店料は発生致します。２４時間利用可能<br />
    レンタルロッカー、洗濯機利用の詳細につきましてはお店の方にお問い合わせ下さい。<br />
    ソフトドリンク：１００円、お酒：５００円、メイクサービス：５００円
  </p>

  <h3>店内のご案内</h3>
  <p>１F中華料理店横の階段(北側)を上がって２F右側のドア開けて目の前が受付になります。</p>
    <b>2F</b>
    <p>
      受付・談話室・メイクルーム・カラオケルーム・麻雀ルーム・シャワールーム・テレビ部屋・ロッカー・お手洗い<br />
      <b>喫煙・飲食可能(メイクルーム禁煙)</b>
    </p>
    <b>3F</b>
    <p>
      漫画コーナー・まったりスペース・SMスペース・お手洗い・スタッフルーム<br />
      ソファー等複数ございます。<b>禁煙・飲食不可</b>
    </p>
    <p>屋上もございます</p>

  <h3 class="attention_please">
    ⚠️注意事項⚠️<br />
    店内ルールを守って頂けれない場合、出禁になりますのでご注意下さい。<br />
    お酒の持ち込み禁止・他のお客様への迷惑行為禁止<br />
    お互い譲り合いの精神でご利用をお願い致します🙏
  </h3>
</div>
