@import "bulma";

html {
  box-sizing: border-box;

  //デバッグ用に色付け (あとで消す予定)
  background-color:gainsboro;
}

/* header */
header {
  width: 100%;
  margin: 5 0%;
  display: flex;
}

/* headerの「重要事項」 */
.attention_please {
  color: red;
  line-height: 2rem;
  font-weight:bold;
}

/* headerの各ボタン */
.header_btns_parent {
  display: flex;
  margin-left: 2.5%;

  .header_btns_child {
    margin-right: 10px;
  }
}

/* newビュー全体(h1タイトルより下)のレイアウト */
.new_post {
  margin: 10%;
}

/* newビューの入力各項目のdivタグ */
.input_field {
  margin: 2%;
}

/* newビューの入力欄(性別・気分・好きなタイプ)の位置 */
.new_input_name {
  max-width: 125px;
  margin-left: 91px;
}

.new_input_sex {
  margin-left: 92px;
}

.new_input_mood {
  margin-left: 91.5px;
}

.new_input_person_type {
  margin-left: 29px;
}

/* newビューのメッセージ欄全体 */
.input_textarea {
  margin-top: 30px;
  margin: 2% 1%;

  /* newビューのメッセージ入力欄 */
  .new_input_textarea {
    margin-top: 1%;
    margin: 5 50%;
  }
}

/* newビューのメッセージ欄全体 */
.input_textarea {
  margin-top: 40px;
}

/* newビューの投稿ボタン */
.submit_btn {
  display: flex;
  justify-content: flex-end;
  margin-right: 3%;
  .back_btn {
    margin-right: 10px;
  }
}

/* _all_message_contents.html.erbの「詳細」ボタン */
.link_to_show_btn {
  display: flex;
  justify-content: flex-end;
}


.show_content {
  content: flex;
  margin: 0 10%;
  // 以下はロック要素で囲まれてる枠を、テキストがはみ出して表示されてしまう現象への対処法
  word-break: break-all;
}

/* show.html.erbの「編集」ボタン */
.link_to_edit_btn {
  display: flex;
  justify-content: flex-end;
  margin: 2%;
}

/* edit.html.erbのタイトル部分 */
.title_bold {
  display: flex;
  margin-left: 2%;
  font-weight: bold;
}

/* _all_message_contents.html.erbの一覧表示部分 */
.msg_content {
  content: flex;
  margin: 0 10%;
  // 以下はロック要素で囲まれてる枠を、テキストがはみ出して表示されてしまう現象への対処法
  word-break: break-all;
}

/* explanation.html.erbの本文レイアウト */
.hero_layout {
  margin-bottom: 30px;
}

.exp_layout {
  margin: 0 5%;
  // 機種依存による絵文字がきちんと表示されるようにした
  h3, div, p {
    font-family: apple color emoji,segoe ui emoji,noto color emoji,android emoji,emojisymbols,emojione mozilla,twemoji mozilla,segoe ui symbol;
  }
  .attention_please {
    color: red;
    line-height: 2rem;
  }
}

/* explanation.html.erbのgoogle mapのレイアウトをレスポンシブ化 */
.gmap {
  height: 0;
  overflow: hidden;
  padding-bottom: 56.25%; // アスペクト比16:9 (9/16*100 = 56.25)
  position: relative;
  iframe {
    position: absolute;
    left: 0; // 位置の基準を左上にする
    top: 0;  // 位置の基準を左上にする
    height: 100%;
    width: 100%;
  }
}

/* new.html.erbの入力必須項目の明示 */
.required_input {
  color: red;
}

// @media screen and (max-width: 640px) {/* 640px以下でスマホ画面時*/
